# Pandemic taxis

In [1]:
!ls

'PyRVA - PyRVA-2021-11Nov-10.ipynb'   nyc_taxi_2020-01.csv
 nyc_taxi_2019-01.csv		      nyc_taxi_2020-07.csv
 nyc_taxi_2019-07.csv

In [3]:
!ls -lh

total 1.9G
-rw-r--r-- 1 reuven staff  565 Nov 11 01:38 'PyRVA - PyRVA-2021-11Nov-10.ipynb'
-rw-r--r-- 1 reuven staff 656M Nov 11 01:23  nyc_taxi_2019-01.csv
-rw-r--r-- 1 reuven staff 558M Nov 11 01:23  nyc_taxi_2019-07.csv
-rw-r--r-- 1 reuven staff 567M Nov 11 01:23  nyc_taxi_2020-01.csv
-rw-r--r-- 1 reuven staff  70M Nov 11 01:23  nyc_taxi_2020-07.csv

In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
# load the data from July 2019 into a data frame
df_0719 = pd.read_csv('nyc_taxi_2019-07.csv')

/usr/local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_0719.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,1.0,N,193,193,1.0,2.5,0.5,0.5,1.14,0.00,0.3,4.94,0.0
1,2.0,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,1.0,N,234,25,2.0,16.5,0.5,0.5,0.00,0.00,0.3,20.30,2.5
2,1.0,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,2.0,N,132,42,1.0,52.0,0.0,0.5,11.75,6.12,0.3,70.67,0.0
3,2.0,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,2.0,N,132,142,1.0,52.0,0.0,0.5,11.06,0.00,0.3,66.36,2.5
4,1.0,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,1.0,N,107,114,1.0,9.5,3.0,0.5,2.00,0.00,0.3,15.30,2.5

In [8]:
df_0719.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [12]:
# load the data from July 2019 into a data frame
import time

start_time = time.perf_counter()
df_0719 = pd.read_csv('nyc_taxi_2019-07.csv', low_memory=False)
end_time = time.perf_counter()

print(f'Took {end_time - start_time} seconds')

Took 12.170629035914317 seconds

In [11]:
df_0719.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [13]:
from numpy import float64, int64

taxi_dtypes = {'VendorID':float64,
'tpep_pickup_datetime':object,
'tpep_dropoff_datetime':object,
'passenger_count':float64,
'trip_distance':float64,
'RatecodeID':float64,
'store_and_fwd_flag':object,
'PULocationID':int64,
'DOLocationID':int64,
'payment_type':float64,
'fare_amount':float64,
'extra':float64,
'mta_tax':float64,
'tip_amount':float64,
'tolls_amount':float64,
'improvement_surcharge':float64,
'total_amount':float64,
'congestion_surcharge':float64}

In [15]:
start_time = time.perf_counter()
df_0719 = pd.read_csv('nyc_taxi_2019-07.csv', dtype=taxi_dtypes)
end_time = time.perf_counter()

print(f'Took {end_time - start_time} seconds')

Took 7.91425155592151 seconds

In [18]:
start_time = time.perf_counter()
df_0719 = pd.read_csv('nyc_taxi_2019-07.csv', dtype=taxi_dtypes,
                     usecols=['passenger_count', 'total_amount', 'payment_type', 'trip_distance'])
end_time = time.perf_counter()

print(f'Took {end_time - start_time} seconds')

Took 3.0287601659074426 seconds

In [19]:
df_0719.head()

   passenger_count  trip_distance  payment_type  total_amount
0              1.0           0.00           1.0          4.94
1              1.0           4.16           2.0         20.30
2              1.0          18.80           1.0         70.67
3              1.0          18.46           1.0         66.36
4              0.0           1.70           1.0         15.30

In [20]:
df_0719['passenger_count'].mean()

1.5720450699916833

In [21]:
df_0719['passenger_count'].value_counts()

1.0    4380890
2.0     953756
3.0     279181
5.0     254262
6.0     151710
4.0     139710
0.0     116884
7.0         29
8.0         22
9.0         16
Name: passenger_count, dtype: int64

In [22]:
df_0719['passenger_count'].value_counts(normalize=True)

1.0    0.697987
2.0    0.151958
3.0    0.044481
5.0    0.040510
6.0    0.024171
4.0    0.022259
0.0    0.018623
7.0    0.000005
8.0    0.000004
9.0    0.000003
Name: passenger_count, dtype: float64

In [25]:
df_0719['trip_distance'].describe

AttributeError: ':.2f' is not a valid function for 'Series' object